html{
  background-color: midnightblue;
}

.wrapper {
  background-color: midnightblue;
  display: grid;
  grid-template-columns: 300px 550px 350px;
  grid-template-rows: 170px 500px 170px;
  grid-template-areas:
      "topl header topr"
      "left middle right"
      "footerl footerm footerr";
}

.logo {
  grid-area: topl;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  grid-area: header;
  text-align: center;
}

.about {
  grid-area: left;
  text-align: center;
}

.form {
  grid-area: middle;
  background: midnightblue;
  margin: 1rem auto 0 auto;
}

form label {
  border: 1px solid gold;
  text-align: center;
  padding: 0.5em 0.5em 0.5em 0.5em;
  float: left;
}

form input {
  background: #fff;
  border: 1px solid #9c9c9c;
  padding: 0.7em;
  margin-bottom: 0.5rem;
  float: left;
}

.input-styling{
  height: 40px;
  width: 250px;
}

.prediction {
  grid-area: footerm;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
}

button{
float: left;
}