<!DOCTYPE html>
<html lang="en">
 <head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <title>Classify Your Approval</title>
        <div>
            <img class = "logo" src="../static/images/WokeRUsLogo.png" alt="logo">
        </div>
        <div class="jumbotron text-center">
            <h1 class = 'display-3'>WELCOME</h1>
        
                <div style="text-align: center;" class='login'>
                <h5>See if you are approved for a Loan</h1>
                <h6> Enter the information for the following values</h6>
                <br>
                <br>
    
        <!-- Main input for Receiving Query to our ML-->
        <div id = "container" style='color:green;'></div>
        <!--form method="POST"-->
            <form action="{{url_for('predict')}}" method="POST">
                    <h6 style='color:black;'> Credit Score </h6> <input type="number" name= 'Credit_Score',placeholder='Credit_Score' required='required'><br>
                    <h6 style='color:black;'> Employment Length </h6> <input type="number" name= 'Emp_Length' required='required'><br>
                    <h6 style='color:black;'> Debt to Income Ratio </h6> <input type="number" step="0.01" name= 'Debt_income_ratio' required='required'><br>
                    <h6 style='color:black;'> Loan Amount </h6> <input type="number" name= 'Loan_Amount' required='required'><br>
                
                    <button  type="submit" class='btn'> predict</button>   
                    
                </div>
            </form>
        </div>
<br>
<br>
<div style="text-align: center;">{{prediction_text}}</div>


</html>