<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>WokeRUs</title>
</head>
<body>
<div class = "wrapper" style='color:gold'>

    <div class = "header">
        <img class = "logo" src="static/images/WokeRUsLogo.png" alt="logo" style="width:200px;height:200px">
    </div>

    <div class="sidebar">
        <h3>WELCOME!</h3>  
        Please enter your information. <br>
        Once finished, press the button. <br>
        <br>
        <!--button id = "accepted" onclick=SubmitFn()> SUBMIT </!--button-->

        <!--script>
            function SubmitFn(){

            }
        </script-->

    </div>


    <div class="form">
        <form action="{{url_for('predict')}}" method="POST">
            <label for="credit_score" class="credit_score">Credit Score</label> 
            <input type="number" id= 'credit-score' class="input-styling" required='required'>

            <label for="Emp_length" class="Emp_Length">Employee Length</label>
            <input type="number" id= 'Emp_length' class="input-styling" required='required'>
            
            <label for="dti" class="dti">Debt to Income Ratio</label>
            <input type="number" id= 'dti' class="input-styling" step="0.01" required='required'>

            <label for="Loan_amount" class="Loan_amount"> Loan Amount</label>
            <input type="number" id= 'Loan-amount' class="input-styling" required='required'>

            <!--label for="annual_income" class="annual_income">Annual Income</!--label>
            <input type="number" id= 'annual-income' class="input-styling" required='required'>
            
            <label for="app_type" class="app_type">Application Type</label>
            <select id="app_type" type="text" name="app_type" required="required">
                    <option value="nothing"> </option>
                    <option value="opt1">Option 1</option>
                    <option value="opt2">Option 2</option>
                    <option value="opt3">Option 3</option>
            </select>

            <label for="val1" class="val1"> Value 1 </label>
            <input type="number" id= 'val1' class="input-styling" required='required'>

            <label for="val2" class="val2"> Value 2 </label>
            <input type="number" id= 'val2' class="input-styling" required='required'>

            <label for="val3" class="val3"> Value 3 </label>
            <input type="number" id= 'val3' class="input-styling" required='required'>

            <label for="val4" class="val4"> Value 4 </label>
            <input type="number" id= 'val4' class="input-styling" required='required'>

            <label for="val5" class="val5"> Value 5 </label>
            <input type="number" id= 'val5' class="input-styling" required='required'-->
            <button  type="submit" class='btn'> predict</button> 
        </form>
    </div>
    <div style="text-align: center;">{{prediction_text}}</div>
</div>

</body>
</html>