<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../static/css/newstyle.css">
        <title>WokeRUs</title>
    </head>
    <div></div>
    <div style="size: 20px;"><b> Congratulations on your approval!</b></div>

    <br><br><br><div class="prediction"><b>{{prediction_text}}</b></div> 

    <div class="contact-us">
        <form action="{{url_for('interest')}}" method="POST">
            <label for="loan_amount" class="loan_amount"> Loan Amount</label>
            <input type="number" name= 'Loan_Amount' class="input-styling" required='required'>
            
            <label for="dti" class="dti">Debt to Income Ratio</label>
            <input type="number" step="0.01" name= 'Debt_income_ratio' class="input-styling" required='required'>
            
            <label  for="emp_length" class="Emp_Length">Employee Length</label>
            <input type="number" name= 'Emp_Length' class="input-styling" required='required'>
            
            <label  for="credit_score" class="Credit_Score">Credit Score</label>
            <input type="number" name= 'Credit_Score' class="input-styling" required='required'>

            <label for="annual_inc" class="annual_inc">Annual Income</label>
            <input type="number" name= 'annual_inc' class="input-styling" required='required'>

            <label for="inq_last_6mths" class="inq_last_6mths">Credit Inquiries in Last 6 Months</label>
            <input type="number" name= 'inq_last_6mths' class="input-styling" required='required'>

            <label for="mo_sin_rcnt_tl" class="mo_sin_rcnt_tl">Age of Most Recent Account (Months)</label>
            <input type="number" name= 'mo_sin_rcnt_tl' class="input-styling" required='required'>

            <button type="submit" class='btn'>Submit</button>
            
        </form>  
        
        <br><br><br><div class="prediction"><b>{{prediction_text}}</b></div> 
     </div>

</html>